@import '../login/login.component.css';

/* o si prefieres copiar el contenido directamente */

.link-container {
  text-align: center;
  margin-top: 10px;
}

.link {
  color: #CD853F;
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  color: #a36c2f;
}
