.search-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.search-filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
}

.search-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-button {
  background-color: #A9A9A9;
  color: white;
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-button:hover {
  background-color: #8f8f8f;
}

.results-container {
  width: 65%;
  max-height: 500px;
  overflow-y: auto;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
}

.results-table th, .results-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.results-table th {
  background-color: #A9A9A9;
  color: white;
}
