<div class="search-container">
  <div class="search-filters">
    <input type="text" class="search-input" placeholder="Buscar por nombre de jugador" [(ngModel)]="playerName">
    <button class="search-button" (click)="searchByPlayerName()">Buscar</button>

    <input type="text" class="search-input" placeholder="Buscar por club" [(ngModel)]="teamName">
    <button class="search-button" (click)="searchByTeam()">Buscar</button>
  </div>
  <div class="separator"></div>
  <div class="results-container" *ngIf="paginatedPlayers.length > 0">

    <table class="results-table">
      <thead>
        <tr>
          <th class="player-info" (click)="sortData('id')">ID <span class="sort-icon asc" [ngClass]="{'active': isSortedAsc('id')}">&#9650;</span><span class="sort-icon desc" [ngClass]="{'active': isSortedDesc('id')}">&#9660;</span></th>
          <th class="player-info" (click)="sortData('firstname')">Nombre <span class="sort-icon asc" [ngClass]="{'active': isSortedAsc('firstname')}">&#9650;</span><span class="sort-icon desc" [ngClass]="{'active': isSortedDesc('firstname')}">&#9660;</span></th>
          <th class="player-info" (click)="sortData('lastname')">Apellido <span class="sort-icon asc" [ngClass]="{'active': isSortedAsc('lastname')}">&#9650;</span><span class="sort-icon desc" [ngClass]="{'active': isSortedDesc('lastname')}">&#9660;</span></th>
          <th class="player-info" (click)="sortData('fullname')">Nombre Completo <span class="sort-icon asc" [ngClass]="{'active': isSortedAsc('fullname')}">&#9650;</span><span class="sort-icon desc" [ngClass]="{'active': isSortedDesc('fullname')}">&#9660;</span></th>
          <th class="player-info" (click)="sortData('nacionalidad')">Nacionalidad <span class="sort-icon asc" [ngClass]="{'active': isSortedAsc('nacionalidad')}">&#9650;</span><span class="sort-icon desc" [ngClass]="{'active': isSortedDesc('nacionalidad')}">&#9660;</span></th>
          <th class="player-info" (click)="sortData('birth')">Fecha de Nacimiento <span class="sort-icon asc" [ngClass]="{'active': isSortedAsc('birth')}">&#9650;</span><span class="sort-icon desc" [ngClass]="{'active': isSortedDesc('birth')}">&#9660;</span></th>
          <th class="player-info" (click)="sortData('age')">Edad <span class="sort-icon asc" [ngClass]="{'active': isSortedAsc('age')}">&#9650;</span><span class="sort-icon desc" [ngClass]="{'active': isSortedDesc('age')}">&#9660;</span></th>
          <th class="player-info" (click)="sortData('height')">Altura <span class="sort-icon asc" [ngClass]="{'active': isSortedAsc('height')}">&#9650;</span><span class="sort-icon desc" [ngClass]="{'active': isSortedDesc('height')}">&#9660;</span></th>
          <th class="player-info" (click)="sortData('weight')">Peso <span class="sort-icon asc" [ngClass]="{'active': isSortedAsc('weight')}">&#9650;</span><span class="sort-icon desc" [ngClass]="{'active': isSortedDesc('weight')}">&#9660;</span></th>
          <th class="player-info" (click)="sortData('injured')">Lesionado <span class="sort-icon asc" [ngClass]="{'active': isSortedAsc('injured')}">&#9650;</span><span class="sort-icon desc" [ngClass]="{'active': isSortedDesc('injured')}">&#9660;</span></th>
          <th class="player-info" (click)="sortData('team')">Equipo <span class="sort-icon asc" [ngClass]="{'active': isSortedAsc('team')}">&#9650;</span><span class="sort-icon desc" [ngClass]="{'active': isSortedDesc('team')}">&#9660;</span></th>
          <th class="player-info" (click)="sortData('lastUpdated')">Última actualización <span class="sort-icon asc" [ngClass]="{'active': isSortedAsc('lastUpdated')}">&#9650;</span><span class="sort-icon desc" [ngClass]="{'active': isSortedDesc('lastUpdated')}">&#9660;</span></th>
        </tr>
      </thead>
      <tbody>
        <tr class="player-found-row" *ngFor="let player of paginatedPlayers">
          <td class="player-found-row-value">{{ player.id }}</td>
          <td class="player-found-row-value">{{ player.firstname }}</td>
          <td class="player-found-row-value">{{ player.lastname }}</td>
          <td class="player-found-row-value">{{ player.fullname }}</td>
          <td class="player-found-row-value">{{ player.nacionalidad }}</td>
          <td class="player-found-row-value">{{ player.birth }}</td>
          <td class="player-found-row-value">{{ player.age }}</td>
          <td class="player-found-row-value">{{ player.height }}</td>
          <td class="player-found-row-value">{{ player.weight }}</td>
          <td class="player-found-row-value">{{ player.injured ? 'Sí' : 'No' }}</td>
          <td class="player-found-row-value">{{ player.team }}</td>
          <td class="player-found-row-value">{{ formatDate(player.lastUpdated) }}</td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-controls" *ngIf="paginatedPlayers.length > 1">
      <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
      <span>Página {{ currentPage }} de {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage * pageSize >= players.length">Siguiente</button>
    </div>
  </div>
</div>
