.search-container {
  display: flex;
  justify-content: space-between;
  padding: 3%;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.search-filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 15%;
}

.search-input {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-button {
  background-color: #A9A9A9;
  color: white;
  font-size: 1rem;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-button:hover {
  background-color: #8f8f8f;
}

.results-container {
  width: 80%;
  max-height: 500px;
  overflow-y: auto;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.results-table th, .results-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.results-table th {
  background-color: #A9A9A9;
  color: white;
}

.separator {
  width: 1px;
  background-color: #ccc;
  margin: 0 20px;
}
