.header {
  display: block;
  background-color: #CD853F;
  height: 60px;
  display: flex;
  align-items: center;
}
.home-icon{
  cursor: pointer;
  margin: 1%;
  height: 20px;
  width: 20px;
}

.btn-back {
  background-color: #CD853F;
  color: black;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}

.btn-back:hover {
  color: grey;
}
