<div class="manual-data-buttons-container">
  <button class="toggle-button btn-delete"> Borrar jugador</button>
  <button class="toggle-button btn-update"> Actualizar jugador</button>
  <button class="toggle-button btn-fbref"> Cargar data fbref </button>
  <button class="toggle-button btn-apifoot"> Cargar data basica </button>
</div>
<div class="basic-info-container">
  <div class="player-photo-container"><img class="player-photo" [src]="photoSrc" alt="Foto de {{ player?.nombre || 'jugador' }}" (error)="onImgError($event)" loading="lazy"/> </div>
  <div *ngIf="player" class="player-detail-container">
    <h2 class="player-name"> {{ player.nombre }}</h2>
    <p><strong>Posición:</strong> {{ player.posicion }}</p>
    <p><strong>Edad:</strong> {{ player.age }}</p>
    <p><strong>Club:</strong> {{ player.club }}</p>
    <p><strong>Nota:</strong> {{ player.nota }}</p>
    <p><strong>Destino Más Probable:</strong> {{ player.mostLikeDestination }}</p>
    <p><strong>Jugador Similar:</strong> {{ player.likeable }}</p>
    <p><strong>Fecha de Estudio:</strong> {{ player.date }}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{ player.birth }}</p>
    <p><strong>Cualidades:</strong> {{ player.qualities }}</p>
  </div>

  <div *ngIf="!player" class="player-detail-container">
    <p>No se ha encontrado la información del jugador.</p>
  </div>
</div>
